.shareProfileImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.shareWrapper {
  width: 90%;
  position: relative;
  top: 15px;
  left: 30px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.56);
}

.shareTop {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.shareInput {
  border: none;
  width: 80%;
  margin-left: 20px;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 18px;
}

.shareOptionText {
  font-size: 16px;
  font-weight: bold;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 600;
  margin-right: 40px;
  cursor: pointer;
  color: white;
}
