.postWrapper {
  padding-left: 30px;

  border-radius: 10px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.33);
  margin: 30px 0px;
}

.post {
  width: 94%;
  justify-content: center;
  margin-top: 30px;
  padding-left: 20px;
}
.dot {
  font-size: 10px !important;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.postUserName {
  font-size: 15px;
  font-weight: normal;
  margin: 0 10px;
}

.postDate {
  font-size: small;
}

.postImg {
  margin-top: 20px;
  width: 90%;
  max-height: 500px;
  object-fit: contain;
}

.like {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.postCenter {
  margin: 20px 0px;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.postBottomRight {
  margin-right: 30px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}
